<mat-card>
  <mat-card-title>{{ isEditMode ? 'Edit ERPPageDetails' : 'Add ERPPageDetails' }}</mat-card-title>

  <mat-card-content>
    <form [formGroup]="erppagedetailsForm" class="form-field-full">
      <!-- Active / Discard -->
      <div class="d-flex align-items-center justify-content-end gap-3" style="height: 56px">
        <mat-checkbox formControlName="KalaErppageDetailsAuth" color="primary" [disabled]="!isEditMode">
          Auth
        </mat-checkbox>
        <mat-checkbox formControlName="KalaErppageDetailsIsActive" color="primary" [disabled]="!isEditMode">
          Active
        </mat-checkbox>
        <mat-checkbox formControlName="KalaErppageDetailsIsDiscard" color="primary" [disabled]="!isEditMode">
          Discard
        </mat-checkbox>
      </div>

      <!-- ================= Row 1 : Division + Page Title ================= -->
      <div class="row mb-3">
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Division Name</mat-label>
            <mat-select formControlName="KalaErppageDetailsDivisionId" placeholder="Select Division">
              <mat-option>
                <input matInput placeholder="Search Division..." [formControl]="divisionSearchControl"
                  (click)="$event.stopPropagation()" />
              </mat-option>
              <mat-option value="">Select Division</mat-option>
              @for (division of filtereddivisionList; track division.DivisionId) {
              <mat-option [value]="division.DivisionId">{{ division.DivisionName }}</mat-option>
              }
            </mat-select>
            @if (erppagedetailsForm.get('KalaErppageDetailsDivisionId')?.invalid &&
            erppagedetailsForm.get('KalaErppageDetailsDivisionId')?.touched) {
            <mat-error>Division is required</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Page Title</mat-label>
            <input matInput formControlName="PageTittle" placeholder="Enter Page Title" />
            @if (erppagedetailsForm.get('PageTittle')?.invalid &&
            erppagedetailsForm.get('PageTittle')?.touched) {
            <mat-error>Page Title is required</mat-error>
            }
          </mat-form-field>
        </div>

      </div>

      <!-- ================= Row 2 : Page URL ================= -->
      <div class="row mb-3">
        <div class="col-sm-6">


          <mat-form-field appearance="outline">
            <mat-label>Page URL</mat-label>
            <input matInput formControlName="PageUrl" placeholder="Enter Page URL" />

            <mat-error *ngIf="erppagedetailsForm.get('PageUrl')?.hasError('required') &&
                    erppagedetailsForm.get('PageUrl')?.touched">
              Page URL is required
            </mat-error>

            <mat-error *ngIf="erppagedetailsForm.get('PageUrl')?.hasError('pattern') &&
                    erppagedetailsForm.get('PageUrl')?.touched">
              Please enter a valid URL (e.g., https://example.com)
            </mat-error>
          </mat-form-field>





        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>ISO Number</mat-label>
            <input matInput formControlName="PageIsonumber" placeholder="Enter ISO Number"
              (keypress)="allowOnlyNumbers($event)" (paste)="blockNonNumericPaste($event)" />

            @if (erppagedetailsForm.get('PageIsonumber')?.hasError('required') &&
            erppagedetailsForm.get('PageIsonumber')?.touched) {
            <mat-error>ISO Number is required</mat-error>
            }
            @if (erppagedetailsForm.get('PageIsonumber')?.hasError('pattern') &&
            erppagedetailsForm.get('PageIsonumber')?.touched) {
            <mat-error>Only numbers are allowed</mat-error>
            }
          </mat-form-field>
        </div>

      </div>


      <!-- ================= Row 3 : Page Type + ISO Number ================= -->
      <div class="row mb-3">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="full-width-field">
            <mat-label>Page Type*</mat-label>
            <mat-select formControlName="PageType">
              <mat-option *ngFor="let type of pageTypeList" [value]="type.id">
                {{ type.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="erppagedetailsForm.get('PageType')?.hasError('required')">
              Page Type is required
            </mat-error>
          </mat-form-field>
        </div>





        <!-- <div class="col-sm-6">
          
          <mat-form-field appearance="outline" class="full-width-field">
            <mat-label>Maker</mat-label>
            <mat-select formControlName="MakerKalaErppageDetailsId" [disabled]="disableMakerField">
              <mat-option value="">Select Maker</mat-option>
              <mat-option *ngFor="let maker of makerOptions" [value]="maker.KalaErppageDetailsId">
                {{ maker.PageTittle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="full-width-field">
            <mat-label>Maker</mat-label>
            <mat-select formControlName="MakerKalaErppageDetailsId" [disabled]="disableMakerField">
              <mat-option value="">Select Maker</mat-option>
              <mat-option *ngFor="let maker of makerOptions" [value]="maker.KalaErppageDetailsId">
                {{ maker.PageTittle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>






      </div>

      <!-- ================= Row 4 : Remark ================= -->
      <div class="row mb-3">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Auth Remark</mat-label>
            <textarea matInput rows="3" formControlName="KalaErppageDetailsAuthRemark"
              placeholder="Enter remark..."></textarea>
          </mat-form-field>
        </div>
        <form [formGroup]="erppagedetailsForm" (ngSubmit)="onSubmit()">
          <div class="col-sm-12 ">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Remark</mat-label>
              <textarea matInput rows="3" formControlName="KalaErppageDetailsRemark" placeholder="Enter remark..."
                (input)="trimLeadingSpaces($event)">
             </textarea>

              <mat-error
                *ngIf="erppagedetailsForm.get('KalaErppageDetailsRemark')?.hasError('required') && erppagedetailsForm.get('KalaErppageDetailsRemark')?.touched">
                Remark is required
              </mat-error>

              <mat-error
                *ngIf="erppagedetailsForm.get('KalaErppageDetailsRemark')?.hasError('spacesOnly') && erppagedetailsForm.get('KalaErppageDetailsRemark')?.touched">
                Remark cannot be empty or only spaces
              </mat-error>

              <mat-error
                *ngIf="erppagedetailsForm.get('KalaErppageDetailsRemark')?.hasError('maxlength') && erppagedetailsForm.get('KalaErppageDetailsRemark')?.touched">
                Remark cannot exceed 500 characters
              </mat-error>
            </mat-form-field>
          </div>


        </form>

      </div>

      <!-- Action buttons -->
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center gap-3 mt-4">
            <button mat-flat-button color="primary" class="btn-primary px-4" [disabled]="erppagedetailsForm.invalid"
              (click)="onSubmit()">
              <mat-icon>{{ isEditMode ? 'update' : 'save' }}</mat-icon>
              {{ isEditMode ? 'Update' : 'Save' }}
            </button>
            <button mat-button type="button" class="btn-outline px-4" (click)="onCancel()">
              <mat-icon>close</mat-icon>
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>