<mat-card class="shadow-lg rounded-3">
    <mat-card-title class="text-center py-3 bg-gradient text-white">
        {{ isEditMode ? 'Edit Facility' : 'Add Facility' }}
    </mat-card-title>

    <mat-card-content class="config-content">
        <form [formGroup]="facilityForm" class="form-field-full" (ngSubmit)="onSubmit()">

            <!-- Row: Code + Name -->
            <div class="row mb-3 option-section">
                <div class="col-sm-4 d-flex align-items-center">
                    <mat-checkbox formControlName="FacilityIsActive" color="primary">
                        Active
                    </mat-checkbox>

                    <mat-checkbox formControlName="FacilityAuth" color="primary">
                        Authorized
                    </mat-checkbox>
                    <mat-checkbox formControlName="FacilityIsDiscard" color="warn">
                        Discarded
                    </mat-checkbox>
                </div>
            </div>

            <div class="row mb-3 option-section">
                <!-- Facility Code -->
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Facility Code</mat-label>
                        <input matInput formControlName="FaciltyCode" placeholder="Enter Facility Code" maxlength="20"
                            (keypress)="allowAlphanumeric($event)" />
                        <mat-error *ngIf="facilityForm.get('FaciltyCode')?.hasError('pattern')">
                            Only letters and numbers allowed (2–20 characters)
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- Facility Name -->
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Facility Name</mat-label>
                        <input matInput formControlName="FacilityName" placeholder="Enter facility name" maxlength="50"
                            (keypress)="allowLettersAndSpaces($event)" />
                        <mat-error *ngIf="facilityForm.get('FacilityName')?.hasError('required')">
                            Facility Name is required
                        </mat-error>
                        <mat-error *ngIf="facilityForm.get('FacilityName')?.hasError('pattern')">
                            Only letters and single spaces allowed (2–50 characters)
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>


            <!-- Row: Remark -->
            <div class="row mb-3 option-section">
                <div class="col-md-12">
                    <form [formGroup]="facilityForm" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Facility Remark</mat-label>
                            <input matInput formControlName="FacilityRemark" placeholder="Enter remarks (optional)"
                                (input)="removeLeadingSpaces($event)" />
                            <mat-hint align="end">{{ facilityForm.get('FacilityRemark')?.value?.length || 0
                                }}/200</mat-hint>
                        </mat-form-field>
                    </form>

                </div>
            </div>

            <!-- Row: Status Checkboxes -->

            <!-- Action buttons -->
            <div class="row mt-4">
                <div class="col-12 d-flex justify-content-center gap-3">
                    <button mat-flat-button color="primary" class="primary-btn" type="submit"
                        [disabled]="facilityForm.invalid">
                        <mat-icon>{{ isEditMode ? 'update' : 'save' }}</mat-icon>
                        {{ isEditMode ? 'Update' : 'Save' }}
                    </button>

                    <button mat-stroked-button type="button" class="action-btn" (click)="onCancel()">
                        <mat-icon>close</mat-icon>
                        Cancel
                    </button>
                </div>
            </div>

        </form>
    </mat-card-content>
</mat-card>