<mat-card>
  <mat-card-title>{{ isEditMode ? ' Holiday Master' : ' Holiday Master' }}</mat-card-title>

  <!-- Please Note Change Form control as per your Requirements  -->
  <mat-card-content>
    <form [formGroup]="holidayForm" class="form-field-full">
      <div class="row mb-3">
        <div class="col-sm-4 col-xl-3"></div>

        <div class="col-sm-8 col-xl-9">
          <div class="d-flex align-items-center justify-content-end gap-3" style="height: 56px;">
            <mat-checkbox formControlName="HolidayAuth" color="primary" [disabled]="!isEditMode">
              Auth
            </mat-checkbox>
            <mat-checkbox formControlName="HolidayIsActive" color="primary" [disabled]="!isEditMode">
              Active
            </mat-checkbox>
            <mat-checkbox formControlName="HolidayIsDiscard" color="primary" [disabled]="!isEditMode"
              *ngIf="isEditMode">
              Discard
            </mat-checkbox>
          </div>
        </div>

      </div>


      <div class="row mb-3">
        <!-- Left side  -->
        <div class="col-sm-6 col-xl-6">
          <mat-form-field appearance="outline">
            <mat-label>Financial Year</mat-label>
            <mat-select formControlName="HolidayFy" placeholder="Select Financial Year">
              <mat-option *ngFor="let year of FinancialYearList" [value]="year.YR_VALUE">
                {{ year.YR_TEXT }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Holiday For</mat-label>
            <input matInput formControlName="HolidayFor" placeholder="Enter Holiday For..." />
            @if (holidayForm.get('HolidayFor')?.invalid && holidayForm.get('HolidayFor')?.touched) {
            <mat-error>Holiday For is required</mat-error>
            }
          </mat-form-field>

          <form [formGroup]="holidayForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Remark</mat-label>
              <input matInput formControlName="HolidayRemark" placeholder="Enter Remark"
                (input)="removeLeadingSpaces($event)" />

              <mat-error
                *ngIf="holidayForm.get('HolidayRemark')?.hasError('required') && holidayForm.get('HolidayRemark')?.touched">
                Remark is required
              </mat-error>

              <mat-error
                *ngIf="holidayForm.get('HolidayRemark')?.hasError('spacesOnly') && holidayForm.get('HolidayRemark')?.touched">
                Remark cannot be empty or contain only spaces
              </mat-error>

              <mat-error
                *ngIf="holidayForm.get('HolidayRemark')?.hasError('maxlength') && holidayForm.get('HolidayRemark')?.touched">
                Remark cannot exceed 200 characters
              </mat-error>
            </mat-form-field>


          </form>

        </div>

        <!-- Right side  -->

        <div class="col-sm-6 col-xl-6">
          <mat-form-field appearance="outline">
            <mat-label>Holiday Date</mat-label>
            <input matInput [matDatepicker]="birthdayPicker" formControlName="HolidayDate" required />
            <mat-datepicker-toggle matSuffix [for]="birthdayPicker" />
            <mat-datepicker #birthdayPicker startView="year" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <mat-select formControlName="HolidayCompanyId" placeholder="Select Company">
              <mat-option>
                <input matInput placeholder="Search Company..." (click)="$event.stopPropagation()" />
              </mat-option>
              <mat-option value="">Select Company</mat-option>
              @for (Company of filteredCompaniesList; track Company.CompanyName) {
              <mat-option [value]="Company.CompanyId">
                {{ Company.CompanyName }}
                <!-- bind with your text field -->
              </mat-option>
              }
            </mat-select>

            @if (holidayForm.get('HolidayCompanyId')?.invalid &&
            holidayForm.get('HolidayCompanyId')?.touched) {
            <mat-error>Company is required</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <!-- Action buttons -->
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center gap-3 mt-4">
            <button mat-flat-button color="primary" class="btn-primary px-4" [disabled]="holidayForm.invalid"
              (click)="onSubmit()">
              <mat-icon>{{ isEditMode ? 'update' : 'save' }}</mat-icon>
              {{ isEditMode ? 'Update' : 'Save' }}
            </button>

            <button mat-button type="button" class="btn-outline px-4" (click)="onCancel()">
              <mat-icon>close</mat-icon>
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>