<mat-card class="custom-card">
    <mat-card-title class="text-center mb-3">
        {{ isEditMode ? 'Edit Leave Type' : 'Add Leave Type' }}
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="leaveTypeForm" class="form-field-full">

            <!-- Top Checkboxes -->
            <div class="row mb-3">
                <div class="col-12 d-flex gap-4 align-items-center justify-content-start">
                    <mat-checkbox formControlName="LeaveTypeMasterIsActive" color="primary">Active</mat-checkbox>
                    <mat-checkbox formControlName="LeaveTypeMasterAuth" color="primary">Auth</mat-checkbox>
                    <mat-checkbox formControlName="LeaveTypeMasterIsDiscard" color="primary">Discard</mat-checkbox>
                </div>
            </div>

            <!-- Form Fields -->
            <div class="row mb-3">
                <!-- Left Column -->
                <div class="col-md-6">

                    <!-- Leave Type Name -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Leave Type Name</mat-label>
                        <input matInput formControlName="LeaveTypeMasterName" placeholder="Enter name" />
                        <mat-error
                            *ngIf="leaveTypeForm.get('LeaveTypeMasterName')?.invalid && leaveTypeForm.get('LeaveTypeMasterName')?.touched">
                            Name is required
                        </mat-error>
                    </mat-form-field>


                    <!-- Max Days Per -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> Leave Max Days </mat-label>
                        <input matInput type="number" formControlName="LeaveTypeMasterMaxDaysPer"
                            placeholder="Enter max days" />
                        <mat-error
                            *ngIf="leaveTypeForm.get('LeaveTypeMasterMaxDaysPer')?.invalid && leaveTypeForm.get('LeaveTypeMasterMaxDaysPer')?.touched">
                            Max Days is required
                        </mat-error>
                    </mat-form-field>
                    <!-- Bottom Checkboxes -->
                    <div class="row mb-3">
                        <div class="col-12 d-flex gap-4 align-items-center justify-content-start">
                            <mat-checkbox formControlName="LeaveTypeMasterCanEnCash" color="primary">Can
                                EnCash</mat-checkbox>
                            <mat-checkbox formControlName="LeaveTypeMasterCanCarryForward" color="primary">
                                CanCarry Forward
                            </mat-checkbox>
                        </div>
                    </div>
                </div>


                <!-- Right Column -->
                <div class="col-md-6">

                    <!-- Leave Type Code -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Leave Type Code</mat-label>
                        <input matInput formControlName="LeaveTypeMasterCode" placeholder="Enter code" />
                        <mat-error
                            *ngIf="leaveTypeForm.get('LeaveTypeMasterCode')?.invalid && leaveTypeForm.get('LeaveTypeMasterCode')?.touched">
                            Code is required
                        </mat-error>
                    </mat-form-field>


                    <!-- Continuous Days Per Year -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> Leave Continuous Days Per Year</mat-label>
                        <input matInput type="number" formControlName="LeaveTypeMasterContinuosDaysPerYear"
                            placeholder="Enter days" />
                        <mat-error
                            *ngIf="leaveTypeForm.get('LeaveTypeMasterContinuosDaysPerYear')?.invalid && leaveTypeForm.get('LeaveTypeMasterContinuosDaysPerYear')?.touched">
                            Continuous Days are required
                        </mat-error>
                    </mat-form-field>

                    <!-- Continuous Days Per Year -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>RequiredServiceMonths</mat-label>
                        <input matInput type="number" formControlName="LeaveTypeMasterRequiredServiceMonths"
                            placeholder="Enter days" />
                        <mat-error
                            *ngIf="leaveTypeForm.get('LeaveTypeMasterRequiredServiceMonths')?.invalid && leaveTypeForm.get('LeaveTypeMasterRequiredServiceMonths')?.touched">
                            Continuous Days are required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>



            <!-- Remarks Fields -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Leave Type Remark</mat-label>
                        <input matInput formControlName="LeaveTypeMasterLeaveTypeRemark"
                            placeholder="Enter remark..." />
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Auth Remark</mat-label>
                        <input matInput formControlName="LeaveTypeMasterAuthRemark"
                            placeholder="Enter auth remark..." />
                    </mat-form-field>
                </div>


            </div>

            <!-- Action Buttons -->
            <div class="row">
                <div class="col-12 text-center mt-4">
                    <button mat-flat-button color="primary" [disabled]="leaveTypeForm.invalid" (click)="onSubmit()">
                        <mat-icon class="me-1">{{ isEditMode ? 'update' : 'save' }}</mat-icon>
                        {{ isEditMode ? 'Update' : 'Save' }}
                    </button>

                    <button mat-stroked-button type="button" class="ms-3" (click)="onCancel()">
                        <mat-icon class="me-1">close</mat-icon>
                        Cancel
                    </button>
                </div>
            </div>

        </form>
    </mat-card-content>
</mat-card>