mat-card {
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  background-color: #f0efefec;
}

mat-card-title {
  font-size: 22px;
  margin-left: 20px;
  margin-bottom: 30px;
}

mat-checkbox {
  font-size: 15px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Make readonly fields look disabled but still accessible */
input[readonly] {
//  background-color: #f8f9fa !important;
  color: #6c757d !important;
  cursor: default !important;
}

/* Make checkbox look readonly but still show checked state */
.readonly-checkbox {
  pointer-events: none;
}

.readonly-checkbox .mat-checkbox-inner-container {
  background-color: #f8f9fa;
}

.small-font {
  font-size: 12px; // overall smaller
}

.small-font .mat-mdc-form-field-subscript-wrapper,
.small-font .mat-mdc-hint,
.small-font .mat-mdc-error {
  font-size: 11px; // smaller for hint and errors
}

.small-font .mat-mdc-floating-label {
  font-size: 12px; // label font size
}

.small-font input {
  font-size: 12px; // input text smaller
}
@media (max-width: 768px) {
  .hint,
  .mat-mdc-error {
    font-size: xx-small !important;  // make hint + error text smaller
  }
}
mat-form-field {
  margin-bottom: 0; // extra spacing so errors won’t overlap
}
